@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

:root {
	--opacity0: 0;
	--opacity01: 0.01;
	--opacity1: 1;

	--radius0: 0px;
	--radius5: 5px;
	--radius10: 10px;

	--radius-percent-0: 0%;
	--radius-percent-5: 5%;
	--radius-percent-10: 10%;
	--radius-percent-50: 50%;
	--radius-percent-100: 100%;

	--color-black: #000;
	--color-white: #ffffff;

	--color-dark-50: #fcfcfc;
	--color-dark-100: #f0f0f0;
	--color-dark-200: #e5e5eb;
	--color-dark-300: #c6c6c6;
	--color-dark-400: #959595;
	--color-dark-500: #606060;
	--color-dark-600: #2c2c2c;
	--color-dark-700: #292929;
	--color-dark-800: #262626;
	--color-dark-900: #1f1f1f;
	--color-dark-950: #171717;

	--color-light-50: #ffffff;
	--color-light-100: #fcfcfc;
	--color-light-200: #fafafa;
	--color-light-300: #f3f3f3;
	--color-light-400: #e5e5e5;
	--color-light-500: #a1a1a1;
	--color-light-600: #9398a1;
	--color-light-700: #757575;
	--color-light-800: #525252;
	--color-light-900: #363636;
	--color-light-950: #1c1c1c;

	--text-dark-50: #fcfcfc;
	--text-dark-100: #f0f0f0;
	--text-dark-200: #e5e5eb;
	--text-dark-300: #c6c6c6;
	--text-dark-400: #959595;
	--text-dark-500: #606060;
	--text-dark-600: #2c2c2c;
	--text-dark-700: #292929;
	--text-dark-800: #262626;
	--text-dark-900: #1f1f1f;
	--text-dark-950: #171717;

	--text-light-50: #ffffff;
	--text-light-100: #f2f2f2;
	--text-light-200: #d6d6d6;
	--text-light-300: #bdbdbd;
	--text-light-400: #a1a1a1;
	--text-light-500: #878787;
	--text-light-600: #6b6b6b;
	--text-light-700: #525252;
	--text-light-800: #363636;
	--text-light-900: #1c1c1c;
	--text-light-950: #0d0d0d;

	--color-btn-50: #ffffff;
	--color-btn-100: #f5f9ff;
	--color-btn-200: #b8d8ff;
	--color-btn-300: #7ab7ff;
	--color-btn-400: #3d96ff;
	--color-btn-500: #0075ff;
	--color-btn-600: #0062d6;
	--color-btn-700: #0050ad;
	--color-btn-800: #003d85;
	--color-btn-900: #002a5c;
	--color-btn-950: #002147;

	--color-brand1100: #f0f8ff;
	--color-brand1200: #e6f5ff;
	--color-brand1300: #c2e2ff;
	--color-brand1400: #aed7fa;
	--color-brand1700: #0082fa;
	--color-brand1800: #0070cc;
	--color-brand1900: #00407a;

	--color-brand2100: #fff0f8;
	--color-brand2200: #ffe1f1;
	--color-brand2300: #ffcce7;
	--color-brand2400: #f7b7da;
	--color-brand2700: #be0064;
	--color-brand2800: #b50067;
	--color-brand2900: #7a0045;

	--color-brand3100: #f4f0ff;
	--color-brand3200: #ebe4fd;
	--color-brand3300: #ded2fa;
	--color-brand3400: #d2c1f9;
	--color-brand3700: #8250fa;
	--color-brand3800: #6930f0;
	--color-brand3900: #3407a3;

	--color-brand4100: #e6faff;
	--color-brand4200: #d4f6ff;
	--color-brand4300: #c2f4ff;
	--color-brand4400: #a4ecfe;
	--color-brand4700: #0fd2ff;
	--color-brand4800: #0497cc;
	--color-brand4900: #005066;

	--color-brand5100: #fff0f6;
	--color-brand5200: #ffebf3;
	--color-brand5300: #fad2e2;
	--color-brand5400: #ffc1da;
	--color-brand5700: #fa0064;
	--color-brand5800: #db0054;
	--color-brand5900: #7a002b;

	--color-brand6100: #f8f0ff;
	--color-brand6200: #f4e6ff;
	--color-brand6300: #e8d2fa;
	--color-brand6400: #dfc1f7;
	--color-brand6700: #c382fa;
	--color-brand6800: #8e2de0;
	--color-brand6900: #490f7a;

	--color-success100: #eef7ed;
	--color-success200: #e3f3e1;
	--color-success300: #c7e0bc;
	--color-success400: #b6d8ac;
	--color-success700: #119e00;
	--color-success800: #007d00;
	--color-success900: #005200;

	--color-info100: #f0f7ff;
	--color-info200: #e1edfa;
	--color-info300: #cee0f5;
	--color-info400: #bcd5f1;
	--color-info700: #0075f7;
	--color-info800: #0061cc;
	--color-info900: #004694;

	--color-warning100: #fff6e0;
	--color-warning200: #fcebc4;
	--color-warning300: #fbe3ab;
	--color-warning400: #f8da90;
	--color-warning700: #e0a000;
	--color-warning800: #946a00;
	--color-warning900: #664400;

	--color-danger100: #fff0f2;
	--color-danger200: #ffe6e8;
	--color-danger300: #f5d7db;
	--color-danger400: #eec4ca;
	--color-danger700: #b4031c;
	--color-danger800: #a30319;
	--color-danger900: #7a0010;

	--color-link: #1c73e7;
	--color-linkHover: #004fe1;
	--color-linkActive: #003fcd;
	--color-linkVisited: #6000b0;

	--color-slider-1: #ee005e;
	--color-slider-2: #990057;
}

:root {
	/* page */
	--font-size: 16px;
	--border-radius: 10px;
	--button-border-radius: 10px;
	--scrollbar-width: 10px;
	--gap: 20px;
	--font-family: 'Poppins', Arial, Helvetica, sans-serif;
	--font-family-code: 'JetBrains Mono', 'Fira Code', monospace;

	/* alert error */
	--alert-error: #fe093a;
	--alert-error-bg: linear-gradient(to right, #fe093a15, #fe093a06);

	/* alert ok */
	--alert-success: #00b13f;
	--alert-success-bg: linear-gradient(to right, #00b13f15, #00b13f06);

	color-scheme: light;
	--bg-1: var(--color-white);
	--bg-2: var(--color-light-200);
	--bg-3: var(--color-light-300);
	--text-1: var(--text-light-900);
	--text-2: var(--text-light-800);
	--text-3: var(--text-light-500);
	--icon-1: var(--color-light-500);
	--icon-2: var(--color-light-400);
	--icon-3: var(--color-light-300);
	--accent: var(--color-btn-500);
	--accent-hover: var(--color-btn-700);
	--label: var(--color-light-700);
	--field: var(--color-light-100);
	--border: var(--color-light-400);
	--divider: var(--color-light-400);
	--placeholder: var(--color-light-400);
	--logo: url('/default/logo/logo-dark.png');
}

/* color mode from <html color-scheme="dark"> */
[color-scheme='dark'] {
	color-scheme: dark;
	--bg-1: var(--color-dark-900);
	--bg-2: var(--color-dark-950);
	--bg-3: var(--color-dark-800);
	--text-1: var(--text-dark-50);
	--text-2: var(--text-dark-200);
	--text-3: var(--text-dark-300);
	--icon-1: var(--color-dark-300);
	--icon-2: var(--color-dark-200);
	--icon-3: var(--color-dark-100);
	--accent: var(--color-btn-500);
	--accent-hover: var(--color-btn-700);
	--label: var(--color-dark-500);
	--field: var(--color-dark-800);
	--border: var(--color-dark-600);
	--divider: var(--color-dark-400);
	--placeholder: var(--color-dark-400);
	--logo: url('/default/logo/logo-dark.png');
}
